#about {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin: 3em;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: left;
    margin-top: 2em;
    margin-bottom: 1em;
    display: block;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0;
}

.profile-pic {
    max-width: 10em; 
    max-height: 10em;
    border-radius: 50%;
    margin: 10 auto;
    padding: 1em;
    display: block;
}

