
.active-tab {
  background-color: teal;
  color: white; 
}

h1{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 172, 172);
  color: white;
  padding: 1em;
  margin-bottom: 1em;

}

.nav-buttons {
  display: flex;
  justify-content: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

